.divImg {
    height: 400px;
    background-image: url("src/assets/img/nueva2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImg {
    border-radius: 1% 1% 0% 0%;
    width: 100%;
    height: 200px;
    background-image: url("src/assets/img/nueva.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #cccccc;
    z-index: 2;
}

.cardContenido {
    border-radius: 0% 0% 1% 1%;
    border: 1px solid rgb(158, 158, 158);
    height: 400px;
    z-index: -1;
}

.Principal {
    height: 60%;
    width: 30%;
    margin-top: 30%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.Centrar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.example-full-width {
    width: 90%;
    margin-top: 1em;
}

.centrarinput {
    height: 200px;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    z-index: 4;
}

.centrarbtn {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

.divlogo {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.btnLogin {
    background-color: #e0e0e0;
    width: 50%;
    height: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
}

.btnLogin:hover {
    background-color: #4643430c;
}

.imgRedondalogo {
    width: 100px;
    height: 100px;
    margin-top: 30%;
    border-radius: 150px;
    border: 1px solid #666;
}

.imgRedondalogo:hover {
    filter: saturate(180%);
}

@media (max-width: 500px) {
    .cardImg {
        border-radius: 1% 1% 0% 0%;
        width: 100%;
        height: 200px;
        background-image: url("src/assets/img/nueva.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: #797676;
        z-index: 2;
    }
    .cardContenido {
        border-radius: 0% 0% 1% 1%;
        border: 1px solid rgb(158, 158, 158);
        height: 400px;
        z-index: -1;
    }
    .Principal {
        height: 60%;
        width: 80%;
        margin-top: 100%;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
    }
    .Centrar {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        z-index: 1;
    }
    .example-full-width {
        width: 90%;
        margin-top: 1em;
    }
    .centrarinput {
        height: 200px;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
        z-index: 4;
    }
    .centrarbtn {
        display: flex;
        height: 80%;
        justify-content: center;
        align-items: center;
    }
    .divlogo {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    .btnLogin {
        background-color: #e0e0e0;
        width: 50%;
        height: 50px;
        font-family: Helvetica, sans-serif;
        font-size: 18px;
    }
    .btnLogin:hover {
        background-color: #4643430c;
    }
    .imgRedondalogo {
        width: 100px;
        height: 100px;
        margin-top: 50%;
        border-radius: 150px;
        border: 1px solid #666;
    }
    .imgRedondalogo:hover {
        filter: saturate(180%);
    }
}