<header>

</header>

<body class="divImg">
    <div class="Principal">
        <div class="Centrar">
            <div class="cardImg">
                <a></a>
                <div class="divlogo">
                    <img class="imgRedondalogo" src="/assets/img/logoc.jpg">
                </div>
            </div>
            <mat-card class="cardContenido">
                <form>
                    <div class="centrarinput">
                        <div style="position: relative; z-index: index 2;">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input type="email" matInput>
                            </mat-form-field>
                        </div>
                        <div style="z-index:3;">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input type="password" matInput>
                            </mat-form-field>
                        </div>
                        <div class="centrarbtn">
                            <button mat-raised-button class="btnLogin">Login</button>
                        </div>
                    </div>
                </form>

            </mat-card>
        </div>
    </div>
</body>
<footer>

</footer>